<div class="item">
  <div class="row">
    <div class="span12">
      <h3> <a href="#/v/{{d._id}}">{{title}}</a></h3>
      <h4>{{placeTitle}}</h4>
      <h5 class="muted">{{dateFormat date}}</h5>
    </div>
  </div>
  <div href="/v/{{d._id}}" class="row">
    <div class="span12"><a href="#/v/{{_id}}"><img src="{{imgLink}}" style="max-height:500px" class="img-large"></a></div>
  </div>
</div>