<div class="item effeckt-caption effeckt-caption-2">
  <a href="/v/{{_id}}">
    <img src="http://i.imgur.com/{{imgRef}}l.png" class="img" >
  </a>
  <figcaption>
    <div class="effeckt-figcaption-wrap">
      <h5><a href="/v/{{_id}}">{{title}}</a></h5>
      <p><a href="/v/{{_id}}">{{placeTitle}}</a></p>
    </div>
  </figcaption>
</div>
